.login-wrapper{
    margin-top: 60px;
}

.example-full-width{
    margin-right: 60px;
}
.box{
    margin-left: 60px;
    margin-right: 60px;
}

.btn-block{
    background-color: #6C61AF;
    color: white;
}

mat-toolbar{
    background-color: #6C61AF;
    color: white;
  }